*,
:after,
:before {
  box-sizing: border-box;
}
header {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-image: url(./assets/images/h-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 0;
}

.profile-img {
  display: flex;
  justify-content: center;
}
.profile-img img {
  border: solid 1px #fff;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 0 7px 11px #09090952;
  transform: rotate(332deg);
}

header h1 {
  font-size: 250%;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto 18px;
  width: 100%;
}
a.download {
  width: 150px;
  height: 50px;
  background-color: #F34D35;
  color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: background-color 0.5s;
  text-decoration: none;
  box-shadow: 0 0 10px 6px #fff;
}
a.download:hover {
  background-color: #ECF0F1;
  color: #F34D35;
  border: solid 1px #000;
}
a.download svg {
  font-size: 150%;
  margin: 0 5px;
}


.title-styles {
  font-family: "Raleway", sans-serif;
}

#about {
  background: #fff;
  overflow: hidden;
  border-top: solid 5px #a284b5;
}
h1.section-title {
  padding-top: 1%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
}
.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.d-block {
  display: block !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.polaroid span {
  background: #fff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}
.polaroid img.profile {
  display: block;
  max-width: 200px;
  border-radius: 8%;
}
.polaroid img.icon {
  display: inline-block;
  width: 42px;
  padding: 2px;
  margin: 1rem 5px;
  box-shadow: 5px 5px 10px 0 #0000002b;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header img {
  width: 10px;
  display: inline-block;
  margin-right: 0.2rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  height: auto;
  font-size: 132%;
  line-height: 200%;
  padding: 1.25rem;
  margin-right: 1rem !important;
  text-align: justify !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wave {
  font-size: 160%;
}

#projects {
  background-color: #f8f7f3;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.foto img {
  margin-bottom: 0px;
  padding-bottom: 0px;
  position: relative;
  display: block;
  width: 100%;
}
.foto div {
  background: #fff;
  display: inline-block;
  margin: 0 auto 5%;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}
.foto div:after {
  color: #333;
  font-size: 25px;
  content: attr(title);
  position: relative;
  top: 15px;
}
.foto div:hover {
  transform: scale(1.01);
  z-index: 10;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

.col-md-12 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.project-date {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px 2px;
  position: relative;
  z-index: -500;
  border-top: 5px solid #696969;
  border-radius: 0 0 5px 5px;
  background-color: #696969;
  color: #fff;
}
.project-title-settings {
  margin-top: 5%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
}

#skills {
  min-height: 200px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10%;
  background: #0c123c;
  border-top: solid 5px #ddd;
  color: #fff;
}
.skill-icon {
  color: #fff;
  text-align: center;
  position: relative;
}

.list-inline,
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-center {
  text-align: center !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.list-inline-item {
  display: inline-block;
}
.skills-tile {
  background-color: #6877e073;
  padding: 10px 10px 5px;
  width: 100px;
  margin: 5px 0;
  border-radius: 8px;
}
.skills-tile i {
  font-size: 220%;
}
.skills-tile i p {
  font-size: 40%;
  margin-top: 4px;
}

/* Experience  */

#experience {
  background-image: url(./assets/images/h-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 400px;
  border-top: solid 5px #a284b5;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.experience-icon {
  font-size: 200%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
