header {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-image: url(./assets/images/h-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 0;
}

.profile-img {
  display: flex;
  justify-content: center;
}
.profile-img img {
  border: solid 1px #fff;
  width: 300px;
  border-radius: 100%;
  box-shadow: 0 0 7px 11px #09090952;
  transform: rotate(332deg);
}

header h1 {
  font-size: 250%;
  text-align: center;
  font-weight: 600 !important;
  color: #353239;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 auto 18px;
  width: 100%;
}
.title-styles {
  font-family: "Raleway", sans-serif;
}

#about {
  background: #fff;
  overflow: hidden;
  border-top: solid 5px #a284b5;
}
#about h1 {
  padding-top: 1%;
  font: 18px/24px "opensans-bold", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #000;
  text-align: center;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-md-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.polaroid span {
  background: #fff;
  display: inline-block;
  margin: 55px 75px 30px;
  padding: 15px 15px 30px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}
.polaroid img.profile {
  display: block;
  max-width: 200px;
  border-radius: 8%;
}
.polaroid img.icon {
  display: inline-block;
  width: 42px;
  padding: 2px;
  margin: 1rem 5px;
  box-shadow: 5px 5px 10px 0 #0000002b;
}
img,
svg {
  vertical-align: middle;
}
img {
  border-style: none;
}

.col-md-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-header img {
  width: 10px;
  display: inline-block;
  margin-right: 0.2rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  height: auto;
  font-size: 132%;
  line-height: 200%;
  padding: 1.25rem;
  margin-right: 1rem !important;
  text-align: justify !important;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.wave {
  font-size: 160%;
}